<div class="flex justify-evenly my-12 mx-96 text-2xl font-light">
    <span class="text-dark_brown">Tous</span>
    <span class="text-light_brown">Extens Consulting</span>
    <span class="text-light_brown">Copywriting</span>
</div>