<title>Accueil</title>
<div class="pt-4 pb-40 tracking-widest bg-blue">
    <h3 class="ml-32 mt-20 text-orange text-2xl" style="letter-spacing: 5.5px">
        Jay Cormier
    </h3>
    <h1 class="ml-32 mt-4 text-white text-6xl font-black">
        Spécialiste Copywriter
    </h1>
    <h6 class="ml-52 mt-2 mb-4 text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </h6>
    <div class="ml-12 mt-60">
        <!-- Button trigger Contact Homepage -->
        <button type="button" class="btn btn-outline-white" data-mdb-toggle="modal"
                data-mdb-target="#formChoose" data-mdb-ripple-color="white">
            Contact
        </button>
    </div>
</div>