<div class="pt-10 pb-40 bg-cream">
    <h6 class="text-center text-orange font-light tracking-widest uppercase">
        Service
    </h6>
    <div class="flex flex-col lg:flex-row justify-center my-20 items-center">
        <div class="w-4/5 border-t-orange"></div>
    </div>
    <h6 class="ml-32 mb-4 text-orange font-light tracking-widest uppercase">
        Lorem Ipsum
    </h6>
    <div class="flex">
        <div class="ml-40 mb-5 border-l-orange"></div>
        <div class="ml-12">
            <div class="">
                    <span class="text-dark_brown text-5xl font-black">
                        Lorem Ipsum
                    </span>
            </div>
            <div>
                    <span class="text-dark_brown text-4xl font-medium">
                        Lorem Ipsum
                    </span>
            </div>
            <div class="mt-20 w-5/6">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing e tortor,
                        dignissim sitltricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
                        semper congue, euismod non, mi. porttitor, orci nec nonummy molestie, enim est eleifend mi, ummy molestie,
                        enim est eleifen molestie, enim est
                    </span>
            </div>
            <div class="mt-12 w-5/6">
                    <span>
                        Lorem ipsum doloing elitmet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices
                        diam Maecenas ligula massa, varius a, semper congue, euismod non, mi. , orci nec nonummy molestie,
                        enim est eleifend mi, ummy molestie, enim est eleifend mi, ummy molestie, enim est ele
                    </span>
            </div>
            <div class="mt-6 w-5/6">
                    <span>
                        Lort, consectetur adipiscing elit. Sed non risus. Suspendisse tortor,
                        dignissim sit, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa,
                        varius a, semper congue, euismod non, mi. porttitor, orci nec nonummy molestie, enim est eleifend
                        mi, ummy molestie, enimummy molestie, enim est eleLorem ipsetur adipiscing elit. Sed non risus. Suspendiec,
                        ultricies sed, dolor. Cras elementum ultrices diam. Maeceassa, varius a, semper congue, uismod non, mi.
                        porttitor, orci nec nonummy molestie, enim est eleifend mi, ummy molestie, enim est eleifend mi, ummy molestie,
                        enim est ele
                    </span>
            </div>
            <div class="mt-6 w-5/6">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                        dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas
                        ligula massa, varius a, semper congue, euismod non, mi.Proin porttitor, orci nec nonummy molestie,
                        enim est eleifend mi,
                    </span>
            </div>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-center my-20 items-center">
        <div class="w-4/5 border-t-orange"></div>
    </div>
    <div class="flex justify-end">
        <div class="ml-40 mb-5 border-l-orange"></div>
        <div class="ml-12">
            <div class="w-4/6">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing e tortor,
                        dignissim sitltricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
                        semper congue, euismod non, mi. porttitor, orci nec nonummy molestie, enim est eleifend mi, ummy molestie,
                        enim est eleifen molestie, enim est
                    </span>
            </div>
            <div class="mt-12 w-4/6">
                    <span>
                        Lorem ipsum doloing elitmet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices
                        diam Maecenas ligula massa, varius a, semper congue, euismod non, mi. , orci nec nonummy molestie,
                        enim est eleifend mi, ummy molestie, enim est eleifend mi, ummy molestie, enim est ele
                    </span>
            </div>
            <div class="mt-6 w-3/6">
                    <span>
                        Lort, consectetur adipiscing elit. Sed non risus. Suspendisse tortor,
                        dignissim sit, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa,
                        varius a, semper congue, euismod non, mi. porttitor, orci nec nonummy molestie, enim est eleifend
                        mi, ummy molestie, enimummy molestie, enim est eleLorem ipsetur adipiscing elit. Sed non risus. Suspendiec,
                        ultricies sed, dolor. Cras elementum ultrices diam. Maeceassa, varius a, semper congue, uismod non, mi.
                        porttitor, orci nec nonummy molestie, enim est eleifend mi, ummy molestie, enim est eleifend mi, ummy molestie,
                        enim est ele
                    </span>
            </div>
            <div class="mt-6 w-2/6">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                        dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas
                        ligula massa, varius a, semper congue, euismod non, mi.Proin porttitor, orci nec nonummy molestie,
                        enim est eleifend mi,
                    </span>
            </div>
        </div>
    </div>
</div>