<div class="py-8 bg-cream text-center">
    <div class="flex justify-center grid-cols-2 ">
        <div class="w-3/4">

        </div>
        <div class="m-5 text-dark_brown w-4/5">
            <h3 class="text-dark_brown font-extrabold text-2xl">
                Lorem Ipsum Dolor Sit
            </h3>
            <div class="mt-8">
                Lort, consectetur adipiscing elit. Sed non risus. Suspendisse tortor,
                dignissim sit, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa,
                varius a, semper congue, euismod non, mi. porttitor, orci nec nonummy molestie, enim est
                eleifend
                mi, ummy molestie, enimummy molestie, enim est eleLorem ipsetur adipiscing elit. Sed non risus.
                Suspendiec,
                ultricies sed, dolor. Cras elementum ultrices diam. Maeceassa, varius a, semper congue, uismod
                non, mi.
                porttitor, orci nec nonummy molestie, enim est eleifend mi, ummy molestie, enim est eleifend mi,
                ummy molestie,
                enim est ele
            </div>
            <div class="mt-3">
                Lort, consectetur adipiscielit. Sed non risus. Suspendisse tortor,
                dignissim sit, ultricies sed, dolCrvarius a, semper congue, uismod non, mi.
                porttitor, orci nec nonummy molestie, enim est e mi, ummy molestie, est eleifend mi, ummy moles
            </div>
            <div class="mt-3">
                Lort, consectetur adipiscing elit. Sed non risus. Suspendisse tortor,
                dignissim sit, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa,
                varius a, semper congue, euismod non, mi. porttitor, orci nec nonummy molestie, enim est
                eleifend
                mi, ummy molestie, enimummy molestie, enim est eleLorem ipsetur adipiscing elit. Sed non risus.
                Suspendiec,
                ultricies sed, dolor. Cras elementum ultrices diam. Maeceassa, varius a, semper congue, uismod
                non, mi.
                porttitor, orci nec nonummy molestie, enim est eleifend mi, ummy molestie, enim est eleifend mi,
                ummy molestie,
                enim est ele
            </div>
        </div>
    </div>
</div>