@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
  @apply pt-14;
}

.collapse-mdb {
  &.collapse {
    visibility: initial;
  }

  &:not(.show) {
    display: none;
  }
}

.border-orange {
  border-width: 1px;
  border-color: #F3D1BF
}

.border-blue {
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.27)
}

.border-t-blue {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.27)
}

.border-t-orange {
  border-top: 1px solid;
  border-color: rgba(243, 209, 191, 1)
}

.border-l-orange {
  border-left: 1px solid rgba(243, 209, 191, 1);
}

.hr {
  @apply h-0 w-1/5;
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.tag {
  @apply px-2 rounded-2xl bg-white;
  width: fit-content;
}


.tag-title {
  position: relative;
  bottom: 2.5rem;
  left: 2rem;
  color: #391400;
}


.project-title {
  position: absolute;
  bottom: 0.75rem;
  left: 2rem;
  color: white;
  font-weight: 800;
}

.middle {
  width: 70%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.bg-image:hover .middle {
  opacity: 1;
}

.bg-image:hover .tag-title {
   display: none;
}

.text {
  background-color: #ee6c58;
  color: white;
  font-size: 12px;
  padding: 16px 16px;
}

.btn-warning {
  background-color: #e4a11b;
  --mdb-btn-bg: #e4a11b;
  --mdb-btn-color: #fff;
  --mdb-btn-box-shadow: 0 4px 9px -4px #e4a11b;
  --mdb-btn-hover-bg: #d9991a;
  --mdb-btn-hover-color: #fff;
  --mdb-btn-focus-bg: #d9991a;
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: #cd9118;
  --mdb-btn-active-color: #fff;
}

.btn-primary {
  background-color: #3b71ca;
  --mdb-btn-bg: #3b71ca;
  --mdb-btn-color: #fff;
  --mdb-btn-box-shadow: 0 4px 9px -4px #3b71ca;
  --mdb-btn-hover-bg: #386bc0;
  --mdb-btn-hover-color: #fff;
  --mdb-btn-focus-bg: #386bc0;
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: #3566b6;
  --mdb-btn-active-color: #fff;
}

.btn-info {
  background-color: #54b4d3;
  --mdb-btn-bg: #54b4d3;
  --mdb-btn-color: #fff;
  --mdb-btn-box-shadow: 0 4px 9px -4px #54b4d3;
  --mdb-btn-hover-bg: #50abc8;
  --mdb-btn-hover-color: #fff;
  --mdb-btn-focus-bg: #50abc8;
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: #4ca2be;
  --mdb-btn-active-color: #fff;
}