{% extends 'base.html.twig' %}

{% block content %}
    <!-- 1st page - Cover -->
    <title>Admin</title>
    <div class="bg-cream py-10">
        <div class="flex justify-center ">
            Connexion
        </div>
        <form method="post" action="login">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form1Example1" class="form-control" name="email" />
                <label class="form-label" for="form1Example1">Email address</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form1Example2" class="form-control" name="password" />
                <label class="form-label" for="form1Example2">Password</label>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
    </div>
    <!-- 5th page - Footer -->
{% endblock %}