{% extends 'base.html.twig' %}

{% block content %}
    <!-- 1st page - Cover -->
    <title>Admin</title>
    <div class="bg-cream py-10">
        <div class="flex justify-center ">
            Connexion <br> leoorgeval@gmail.com   <br> root
        </div>
        <div class="font-black text-4xl">
        Bonjour !
        </div>
    </div>
    <!-- 5th page - Footer -->
{% endblock %}