{% extends 'base.html.twig' %}


{% block content %}

    <!-- 1st page - Cover -->
    <title>Admin</title>
    <div class="bg-cream py-10">
        <div class="font-black text-3xl ml-10">
            <a href="/backoffice">< Retour</a>
        </div>
        <div class="flex justify-evenly grid-cols-2">
            <div>
                <div class="mt-4 ml-20 font-medium text-xl">
                    Créer un tag:
                </div>
                <div class="mt-2 ml-20">
                    {{ form(tag) }}
                </div>
            </div>
            <div>
                <div class="mt-4 ml-20 font-medium text-xl">
                    Liste des tags:
                </div>
                <div class="mt-2 ml-20">
                    <ul>
                        {% for tag in tags %}
                            <li>{{ tag.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 5th page - Footer -->

{% endblock %}