{% extends 'base.html.twig' %}


{% block content %}

    <!-- 1st page - Cover -->
    <title>Admin</title>
    <div class="bg-cream py-10">
        <div class="font-black text-3xl ml-10">
            <a href="/backoffice">< Retour</a>
        </div>
        <div class="flex justify-evenly grid-cols-2">
            <div>
                <div class="mt-4 ml-20 font-medium text-xl">
                    Créer un tag:
                </div>
                <div class="mt-2 ml-20">
                    {{ form(tag) }}
                </div>
            </div>
            <div>
                <div class="mt-4 ml-20 font-medium text-xl">
                    Liste des tags:
                </div>
                <div class="mt-2 ml-20">
                    <ul>
                        {% for tag in tags %}
                            <div class="mt-2 flex">
                                <div class="mr-2">
                                    <a href="tag/editTag/{{ tag.id }}">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </div>
                                <a href="tag/removeTag/{{ tag.id }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                                <li class="ml-2">{{ tag.title }}</li>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 5th page - Footer -->

{% endblock %}