<div class="bg-cream">
    <div class="flex justify-evenly my-12 mx-96 text-2xl font-light">
        <a class="text-dark_brown font-bold text-xl {{ app.request.get('_route') == '_list' ? 'text-orange' }}"
           href="/projects">Tous</a>
        {% set displayedTags = [] %}
        {% for tag in tags %}
            {% if tag.title not in displayedTags %}
                <a href="/projects/{{ tag.id }}"
                   class="text-light_brown ml-20 {{ app.request.get('_route') == '_list' ? 'text-orange' }}">
                    {{ tag.title }}
                </a>
                {% set displayedTags = displayedTags|merge([tag.title]) %}
            {% endif %}
        {% endfor %}
    </div>
</div>
