<div class="pt-10 bg-cream">
    <h6 class="text-center text-orange font-light tracking-widest uppercase">
        Service
    </h6>
    <h1 class="m-10 text-center text-dark_brown font-extrabold text-4xl">
        Lorem Ipsum Dolor Sit
    </h1>
    <div class="flex flex-col lg:flex-row justify-center mb-40 items-center">
        <div class="w-1/3 border-solid border-orange rounded-l-md">
            <div class="m-10 p-4 rounded-full bg-orange w-20 h-20 flex">
                <img src="{{ asset('images/pencil.svg') }}" class="h-8" alt="Pencil">
                <h3 class="text-dark_brown font-bold text-xl ml-10" style="letter-spacing: 3px">Copywriting</h3>
            </div>
            <div class="card-body">
                <blockquote class="blockquote m-3 mb-9 text-shadow">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
            </div>
        </div>
        <div class="sm:mt-8 lg:mt-0 w-1/3 border-solid border-orange rounded-r-md">
            <div class="m-10 p-4 rounded-full bg-orange w-20 h-20 flex">
                <img src="{{ asset('images/message.svg') }}" class="h-8" alt="Message">
                <span class="text-dark_brown font-bold text-xl ml-10 "
                      style="letter-spacing: 3px">ExtensConsulting</span>
            </div>
            <div class="card-body">
                <blockquote class="blockquote m-3 mb-9 text-shadow">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
            </div>
        </div>
    </div>