{% extends 'base.html.twig' %}

{% block content %}
    <!-- 1st page - Cover -->
    <title>Admin</title>
    <div class="bg-cream py-10">
        <div class="flex justify-center text-4xl font-black mb-4">
            Connexion
        </div>
        <div class="flex justify-center">
            {{ form(auth) }}
        </div>
    </div>
    <!-- 5th page - Footer -->
{% endblock %}